{% extends 'base.html.twig' %}
{% block title %}Категории товаров{% endblock %}
{% block content %}
    <div class="p-4">
        <div style="width: 10%; margin-left: 1%; display: inline-block">
            {% for i in category %}
                <p style="margin-left: 10%"><a href="">{{ i }}<a></p>
                <hr>
            {% endfor %}
        </div>
        <div style="width: 10%; margin-left: 2%; display: inline-block">
            {% for i in productsName %}
                <p style="margin-left: 10%">{{ i }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
    








