{% extends 'base.html.twig' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <h2 style="margin-left: 1.5%" class="display-6 p-3">Товары в наличии:</h2>
    <ul style="width: 20%; margin-left: 2%" class="list-group list-group-flush">
        {% for i in productName %}
            <li class="list-group-item">{{ i }}</li>
        {% endfor %}
    </ul>
{% endblock %}